**/test.json
**/test.ipynb

cuda_config.ipynb


**/cybersecurity-Llama-2-7b-chat-hf/

**/.ipynb_checkpoints/
**/models/
**/runs/
**/wandb/
**/pycache/
Defence/
Date Checker/
env/

**/*-env/
**/*_env/
*.env

*.arrow
*.bin
*.pyc

*.pdf

nohup.out