**/test.json
**/test.ipynb

cuda_config.ipynb

Lamini/*
# Lamini/__pycache__/
# Lamini/Training/Output-Models/
# Lamini/Training/__pycache__/


**/cybersecurity-Llama-2-7b-chat-hf/

**/.ipynb_checkpoints/
**/models/
**/runs/
**/wandb/
**/pycache/
Defence/

**/*-env/
**/*_env/
*.env

*.arrow
*.bin
*.pyc

*.pdf

nohup.out